body{
    margin: 0;
    padding: 0;
    background-image: url("../img/buffalos-sunset.jpg");
    background-color: #0000007c;
    background-size: cover;
    header {
        nav {
            display: flex;
            justify-content: space-between;
            background-color: #67596D;
            padding: 0.5rem;
            margin: 0 0.1rem;
            transition: all 0.5s linear;
            ul {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding: 0;
                margin: 0;

                li {
                    position: relative;
                    margin: 0 0.1em;
                    display: flex;
                    align-items: center;
                    height: 2rem;
                    z-index: 1;
                    a {
                        margin: 0 1rem;
                        text-decoration: none;
                        color: white;
                        text-align: center;
                        transition: color 0.2s ease-in;
                    }

                    a::before {
                        z-index: -1;
                        box-shadow: 0 0 0.2rem #eeeeee;
                        background-color: #eeeeee;
                        transition: 0.2s ease-in;
                        width: 0%;
                        height: 100%;
                        display: block;
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 0.2rem;
                    }
                }

                li:hover {
                    a::before {
                        width: 100%;
                    }

                    a {
                        color: #4c4c4c;
                    }
                }
            }
            .profile-photo {
                img {
                    height: 4rem;
                    width: 4rem;
                    object-fit: cover;
                    border-radius: 5rem;
                    object-position: center;
                    box-shadow: 0 0.1rem 0.3rem #67596D;
                    position: absolute;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                }

            }
        }

        nav:hover {
            background-color: #67596D;
            box-shadow: 0 0.1rem 0.3rem #836C5D;
        }

    }
}