body {
  margin: 0;
  padding: 0;
  background-image: url("../img/elephants-1.jpg");
  background-color: #0000007c;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: darken;
}

body header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

body header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  margin: 0;
}

body header nav ul li {
  position: relative;
  margin: 0 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  z-index: 1;
}

body header nav ul li a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
  text-align: center;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

body header nav ul li a::before {
  z-index: -1;
  -webkit-box-shadow: 0 0 0.2rem #eeeeee;
          box-shadow: 0 0 0.2rem #eeeeee;
  background-color: #eeeeee;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  width: 0%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.2rem;
}

body header nav ul li:hover a::before {
  width: 100%;
}

body header nav ul li:hover a {
  color: #4c4c4c;
}

body header nav .profile-photo img {
  height: 4rem;
  width: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5rem;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 0 0.1rem 0.3rem #67596D;
          box-shadow: 0 0.1rem 0.3rem #67596D;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

body .side-intro {
  height: 94vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .side-intro .hello-message {
  color: white;
  padding: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .side-intro .hello-message h1 {
  font-family: 'Abril Fatface';
  font-weight: normal;
  font-size: 2.4rem;
}
/*# sourceMappingURL=index.css.map */