$primary_color: #797979;
body{
    margin: 0;
    padding: 0;
    background-image: url("../img/lion.jpg");
    background-color: #0000007c;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
    header {
        position: sticky;
        top: 0;
        height: 10vh;
        z-index: 3;
        nav {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            transition: all 0.5s linear;
            ul {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding: 0;
                margin: 0;

                li {
                    position: relative;
                    margin: 0 0.1em;
                    display: flex;
                    align-items: center;
                    height: 2rem;
                    z-index: 1;
                    a {
                        margin: 0 1rem;
                        text-decoration: none;
                        color: white;
                        text-align: center;
                        transition: color 0.2s ease-in;
                    }

                    a::before {
                        z-index: -1;
                        box-shadow: 0 0 0.2rem #eeeeee;
                        background-color: #eeeeee;
                        transition: 0.2s ease-in;
                        width: 0%;
                        height: 100%;
                        display: block;
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 0.2rem;
                    }
                }

                li:hover {
                    a::before {
                        width: 100%;
                    }

                    a {
                        color: #4c4c4c;
                    }
                }
            }
            .profile-photo {
                img {
                    height: 4rem;
                    width: 4rem;
                    object-fit: cover;
                    border-radius: 5rem;
                    object-position: center;
                    box-shadow: 0 0.1rem 0.3rem #67596D;
                    position: absolute;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                }

            }
        }


    }

    .side-intro {
        height: 90vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;

        .hello-message {
            color: white;
            padding: 0.1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30%;
            position: absolute;
            top: 4rem;
            h1 {
                font-weight: normal;
                font-size: 3rem;
                font-family: 'Abril Fatface';
                margin: 0.2rem 0;
            }

            p {
                width: 60%;
                text-align: center;
                font-family: 'Abril Fatface';
                font-size: 1.5em;
                margin: 0.2rem 0;
            }
        }

        .description {
            position: absolute;
            bottom: 0;
            color: white;
            width: 20%;
            left: 0.5em;

            p {
                font-size: 0.9em;
            }
        }
        
    }

    .second-page {
        height: 90vh;
        background-color: white;
    }
}