a {
  color: white;
}

::-webkit-scrollbar {
  width: 6pt;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #797979;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  background-color: #171717;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Work Sans", sans-serif;
}
body header {
  position: sticky;
  top: 0;
  height: 10vh;
  width: 100%;
  z-index: 10;
  background-color: #171717;
}
body header nav {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem;
  transition: all 0.5s linear;
}
body header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
body header nav ul li {
  position: relative;
  margin: 0 0.1em;
  display: flex;
  align-items: center;
  height: 2rem;
  z-index: 1;
}
body header nav ul li a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: color 0.2s ease-in;
}
body header nav ul li a::before {
  z-index: -1;
  box-shadow: 0 0 0.2rem #eeeeee;
  background-color: #eeeeee;
  transition: 0.2s ease-in;
  width: 0%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.2rem;
}
body header nav ul li:hover a::before {
  width: 100%;
}
body header nav ul li:hover a {
  color: #4c4c4c;
}
body .navigation {
  position: fixed;
  top: 50%;
  left: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
}
body .navigation span {
  margin: 0.4em 0;
  cursor: pointer;
}
body .navigation span img {
  height: 1rem;
  width: 1rem;
}
body .page {
  min-height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  box-sizing: border-box;
}
body .page .scroll-down-button {
  position: absolute;
  bottom: 1em;
  background: none;
  border: none;
  cursor: pointer;
  animation: scroll-up-down 1s linear infinite alternate;
}
body .page .scroll-down-button img {
  height: 1.3em;
  width: 1.3em;
}
@keyframes scroll-up-down {
  0% {
    bottom: 1em;
  }
  100% {
    bottom: 1.8em;
  }
}
body .side-intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
body .side-intro .profile-photo {
  display: flex;
  height: fit-content;
  margin-bottom: 32pt;
  padding: 4pt;
  background-color: white;
  border-radius: 50%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
body .side-intro .profile-photo img {
  height: 120pt;
  width: 120pt;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
body .side-intro .profile-photo:hover {
  transform: scale(1.1);
}
body .side-intro .hello-message {
  color: white;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  position: absolute;
  top: 4rem;
  padding-top: 32pt;
  z-index: 3;
}
body .side-intro .hello-message h1 {
  font-weight: normal;
  font-size: 2rem;
  font-family: "Righteous";
  margin: 0 0 24pt 0;
}
body .side-intro .hello-message p {
  width: 60%;
  text-align: center;
  font-family: "Righteous";
  font-size: 1.5rem;
  margin: 0.2rem 0;
}
body .side-intro .hello-message .to-contacts {
  padding: 1em;
  margin: 5em 0;
  border-radius: 5em;
  text-align: center;
  background-color: white;
  border: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
body .side-intro .hello-message .to-contacts:hover {
  transform: translateY(-0.5em);
}
body .side-intro .description {
  position: absolute;
  bottom: 1em;
  color: white;
  width: 30%;
  left: 0.5rem;
}
body .side-intro .description p {
  font-size: 0.9em;
}
body .side-intro .social-media {
  position: absolute;
  bottom: 1em;
  right: 0.5rem;
  color: white;
  display: flex;
  z-index: 8;
}
body .side-intro .social-media span {
  height: 20pt;
  width: 20pt;
  display: flex;
  padding: 0.4rem;
}
body .side-intro .social-media span img {
  height: 100%;
  width: 100%;
  fill: currentColor;
}
body .side-intro .floating-item {
  height: 64pt;
  width: 64pt;
  position: absolute;
  background-color: #4c4c4c;
  border-radius: 16pt;
  opacity: 0.3;
  z-index: 2;
  transition: opacity 1s ease;
}
body .side-intro .floating-item:hover {
  opacity: 0.8;
}
body .side-intro .giant-circle {
  position: absolute;
  border-radius: 50%;
  background-color: #797979;
  opacity: 0.2;
  z-index: 1;
  transition: box-shadow 1s ease, opacity 1s ease;
}
body .side-intro .giant-circle:hover {
  opacity: 0.8;
}
body .side-intro .it-1 {
  animation: move-around 10s linear alternate infinite;
}
body .side-intro .it-2 {
  border-radius: 32pt;
  animation: move-it2 10s linear alternate infinite;
}
body .side-intro .it-3 {
  border-radius: 4pt;
  animation: move-it3 15s linear alternate infinite;
}
body .side-intro .it-4 {
  border-radius: 4pt;
  animation: move-it4 15s linear alternate infinite;
}
body .side-intro .it-5 {
  border-radius: 4pt;
  animation: move-it5 30s ease-in-out infinite;
}
body .side-intro .it-6 {
  border-radius: 4pt;
  animation: move-it6 20s ease-in-out infinite;
}
body .side-intro .forward {
  bottom: -300pt;
  right: -500pt;
  height: 900pt;
  width: 900pt;
  background-color: #ffea00;
  box-shadow: 0 0 20pt #ffea0038;
  animation: move-circle 30s ease-in-out alternate infinite;
}
body .side-intro .forward:hover {
  box-shadow: 0 0 80pt #ffea00;
}
body .side-intro .reverse {
  top: -200pt;
  left: -100pt;
  height: 300pt;
  width: 300pt;
  background-color: #eaf4f4;
  box-shadow: #eaf4f438;
  animation: move-circle-reverse 30s ease-in-out alternate infinite;
}
body .side-intro .reverse:hover {
  box-shadow: 0 0 30pt #eaf4f4;
}
body .following {
  background-color: #171717;
  color: white;
  border-top: 1pt solid grey;
}
body .following .about-description {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 8pt;
}
body .following .about-description ul {
  display: flex;
  flex-direction: column;
  gap: 8pt;
}
body .following .projects {
  margin-top: 16pt;
  padding: 0 32pt;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  column-gap: 4pt;
}
body .following .projects .project {
  flex-direction: column;
  display: flex;
  align-items: center;
}
body .following .projects .project img {
  width: 500pt;
  border-radius: 4pt;
}
body .following .projects .project p {
  text-align: center;
}
body .following .projects .project a {
  color: white;
}
body .following .projects .mobile img {
  height: 500pt;
  width: unset;
}
body .resume {
  color: white;
  background-color: #171717;
}
body .resume h1 {
  margin-bottom: 32pt;
}
body .resume .skills {
  display: flex;
  width: 80%;
}
body .resume .skills .tools,
body .resume .skills .stacks {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .resume .skills .tools ul,
body .resume .skills .stacks ul {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  body .navigation {
    display: none;
  }
  body .side-intro .hello-message {
    width: 100%;
    margin-top: 32pt;
  }
  body .side-intro .hello-message .profile-photo img {
    width: 100pt;
    height: 100pt;
  }
  body .side-intro .hello-message h1 {
    font-size: 1.6em;
  }
  body .side-intro .hello-message p {
    font-size: 1.2em;
  }
  body .side-intro .hello-message .to-contacts {
    margin: 10pt 0;
  }
  body .side-intro .description {
    width: 100%;
    bottom: 60pt;
    padding: 0 8pt;
  }
}
@media only screen and (max-width: 430px) {
  body .navigation {
    display: none;
  }
  body .page {
    box-sizing: border-box;
  }
  body .side-intro .hello-message {
    width: 100%;
  }
  body .following {
    padding-left: 0;
  }
  body .following .about-description {
    width: 90%;
  }
  body .following .projects {
    display: flex;
    flex-direction: column;
    padding: 0 16pt;
  }
  body .following .projects .project img {
    width: 80%;
  }
}
.experience-card {
  padding: 16pt;
  border-radius: 8pt;
  transition: all 0.6s ease;
}

.experience {
  justify-content: flex-start;
  align-items: flex-start !important;
  padding: 2rem 10%;
  width: 60%;
}

@media only screen and (max-width: 430px) {
  .experience-card {
    width: 100%;
    border-radius: 8pt;
    box-shadow: unset;
  }

  .experience {
    justify-content: flex-start;
    align-items: flex-start !important;
    width: 100%;
    padding: unset;
  }
}
ul {
  display: flex;
  flex-direction: column;
  gap: 8pt;
}