@keyframes move-around {
  from {
    top: 300pt;
    right: 324pt;
  }

  25% {
    top: 200pt;
    right: 20pt;
    transform: rotate(90deg);
  }

  50% {
    top: 100pt;
    right: 124pt;
    background-color: #7251b5;
  }

  to {
    top: 300pt;
    right: 324pt;
    transform: rotate(135deg);
  }
}

@keyframes move-it2 {
  from {
    top: 300pt;
    left: 200pt;
  }

  25% {
    top: 200pt;
    left: 20pt;
    transform: rotate(90deg);
  }

  50% {
    top: 100pt;
    left: 124pt;
    background-color: #7bf1a8;;
  }

  to {
    top: 300pt;
    left: 324pt;
    transform: rotate(135deg);
  }
}

@keyframes move-it3 {
  from {
    bottom: 100pt;
    left: 324pt;
  }

  25% {
    bottom: 200pt;
    left: 20pt;
    transform: rotate(90deg);
  }

  50% {
    bottom: 100pt;
    left: 124pt;
    background-color: #ff9b85;
  }

  to {
    bottom: 100pt;
    left: 324pt;
    transform: rotate(135deg);
  }
}

@keyframes move-it4 {
  from {
    bottom: 100pt;
    left: 324pt;
  }

  25% {
    bottom: 200pt;
    left: 20pt;
    transform: rotate(180deg);
  }

  50% {
    bottom: 100pt;
    left: 124pt;
    background-color: #2b9348;
  }

  to {
    bottom: 100pt;
    left: 324pt;
    transform: rotate(135deg);
  }
}

@keyframes move-it5 {
  from {
    top: 100pt;
    right: 20pt;
  }

  25% {
    top: 200pt;
    right: 100pt;
  }

  50% {
    top: 400pt;
    right: 500pt;
    background-color: #ffd8be;
  }

  to {
    top: 100pt;
    right: 20pt;
  }
}

@keyframes move-it6 {
  from {
    top: 100pt;
    left: 20pt;
  }

  25% {
    top: 200pt;
    left: 100pt;
  }

  50% {
    top: 400pt;
    left: 500pt;
    background-color: #81c3d7;
  }

  to {
    bottom: 100pt;
    left: 20pt;
  }
}

@keyframes move-circle {
  to {
    bottom: 300pt
  }
}

@keyframes move-circle-reverse {
  50% {
    left: 100pt;
  }

  to {
    top: 300pt
  }
}