@keyframes main_rocket_burn {
  to {
    height: 40pt;
    bottom: -44pt;
  }
}
@keyframes booster_rocket_burn {
  to {
    height: 25pt;
    bottom: -34pt;
  }
}
@keyframes rocket-motion {
  10% {
    top: 50vh;
    left: 20pt;
    transform: rotate(0);
  }
  15% {
    top: 40pt;
    transform: rotate(45deg);
  }
  18% {
    transform: rotate(90deg);
  }
  20% {
    top: 0pt;
  }
  45% {
    transform: rotate(90deg);
  }
  50% {
    top: 0pt;
    left: 50vw;
    transform: rotate(90deg);
  }
  60% {
    left: 70vw;
    transform: rotate(0deg);
  }
  to {
    left: 50vw;
    top: 100vh;
    transform: rotate(0deg);
  }
}
.rocket {
  top: 100vh;
  z-index: 2;
  left: 20pt;
  position: absolute;
  display: grid;
  grid-template-columns: 10pt 1fr 10pt;
  opacity: 0.7;
  transition: opacity 0.4s ease;
  animation: rocket-motion 120s linear infinite;
}
.rocket .exhaust {
  background-color: orange;
  box-shadow: 0 0 4pt orange;
}
.rocket .booster {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ced4da;
  height: 40pt;
  width: 10pt;
  align-self: flex-end;
  border-radius: 4pt;
  position: relative;
}
.rocket .booster .exhaust {
  display: block;
  height: 18pt;
  width: 8pt;
  border-radius: 8pt;
  bottom: -20pt;
  position: absolute;
  animation: booster_rocket_burn 0.98s ease alternate infinite;
}
.rocket .base {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20pt;
}
.rocket .base .top {
  display: block;
  height: 50pt;
  width: 32pt;
  border-radius: 15pt;
  background-color: #e9ecef;
  position: relative;
  top: 20pt;
}
.rocket .base .main-rocket {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100pt;
  width: 20pt;
  background-color: white;
  border-radius: 4pt;
}
.rocket .base .main-rocket .exhaust {
  display: block;
  align-self: center;
  height: 30pt;
  width: 14pt;
  border-radius: 8pt;
  bottom: -32pt;
  position: absolute;
  animation: main_rocket_burn 1s ease alternate infinite;
}

.rocket:hover {
  opacity: 1;
}

.satelite {
  position: absolute;
  top: 50vh;
  left: -400pt;
  display: grid;
  grid-template-columns: 160pt 32pt 160pt;
  column-gap: 4pt;
  align-items: center;
  justify-content: center;
  transform: scale(0.3);
  opacity: 0.5;
  transition: opacity 0.5s ease;
  animation: move_satelite 60s infinite alternate ease;
}
.satelite .body {
  height: 32pt;
  width: 32pt;
  background-color: #ffaa00;
  border-radius: 4pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.satelite .body .dish {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34pt;
  width: 34pt;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 44pt;
}
.satelite .body .dish .receiver {
  display: block;
  height: 4pt;
  width: 4pt;
  background-color: grey;
  border-radius: 50%;
}
.satelite .body .dish .handle {
  position: absolute;
  display: flex;
  height: 5pt;
  width: 2pt;
  background-color: white;
  bottom: -4pt;
}
.satelite .solar-array {
  background-color: #495057;
  height: 48pt;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 4pt;
}
.satelite .solar-array .handle {
  display: block;
  width: 6pt;
  height: 4pt;
  background-color: #495057;
  position: absolute;
}
.satelite .solar-array .left {
  right: -6pt;
}
.satelite .solar-array .right {
  left: -6pt;
}

.satelite:hover {
  opacity: 1;
}